*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top-10
{
    top:-10px;
}

.redcircle{
    border:1px solid;
    border-radius: 50%;
    font-size: 10px;
    background-color: rgb(251, 35, 35);
    color:white
}
.contact:hover,
.header-language:hover,
.header-coin:hover,
.login:hover,
.heart:hover,
.cart:hover{
    color:red !important;
}
.menu-icon::after{
    content:"";
    display: inline-block;
    width:10px;
    height:10px;
    border:1px solid;
  
}

.fs-14{
 font-size:14px !important;
}
.btn-togler:focus,
.btn-togler:visited
{
    outline:none !important;
    box-shadow: none !important;
}
.btn-togler{
    margin-left: 3%;
}


.dropbtn::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  margin-bottom:8px;
  vertical-align: middle;
}
.mx-6{
    margin-left: 9%;
    margin-right:6%;
}
.taps li:hover,
.dropdown .dropbtn:hover,
 .navbar div .btn-togler:hover span
{
    color:red !important
}
.taps li:hover .dropdown .dropbtn::after,
.dropdown .dropbtn:hover .dropbtn::after{
    border-right-color: red;
  border-bottom-color: red;
}
/**/


/**/
.titl {
    font-size: 4.8rem;
    font-weight: 700;

}
.f-20{
    font-size: 26px !important;
}
.f-14{
    font-size: 14px;
    
}
.lightcolor
{
    color:#b2b2b2;
}
.contct{
    margin-left: 20%;
}





/*form*/
form{
    margin-left: 20%;
}
.heit{
    height:45px;
}
.heitttt{
    height:160px;
}
.w-49
{width:48%}
.mr{
    margin-right:3%
}

form input:focus,
form textarea:focus
{
    outline:none !important;
    box-shadow: none !important;
}

form .btn-get:hover{
background-color: red !important;

}
.ourstors div div img:hover{
 opacity: .8;
}



/**/

.search .input-group{
    margin: 25px 0 25px 25%;
    height:7vh;
}
.search .input-group input{
  outline:none;
box-shadow: none;
}
.searchitem{
      margin: 25px 0 25px 26%;
}
.search div ul li a:hover

{
    color:red !important;
}
.search .input-group button:hover{
    background-color:red !important; ;
}
.border-light-subtle {
    border-color: #65696e !important;
}