*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.top-10
{
    top:-10px;
}

.redcircle{
    border:1px solid;
    border-radius: 50%;
    font-size: 10px;
    background-color: rgb(251, 35, 35);
    color:white
}
.contact:hover,
.header-language:hover,
.header-coin:hover,
.login:hover,
.heart:hover,
.cart:hover{
    color:red !important;
}
.menu-icon::after{
    content:"";
    display: inline-block;
    width:10px;
    height:10px;
    border:1px solid;
  
}

.fs-14{
 font-size:14px !important;
}
.btn-togler:focus,
.btn-togler:visited
{
    outline:none !important;
    box-shadow: none !important;
}
.btn-togler{
    margin-left: 3%;
}


.dropbtn::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
  margin-bottom:8px;
  vertical-align: middle;
}
.mx-6{
    margin-left: 9%;
    margin-right:6%;
}
.taps li:hover,
.dropdown .dropbtn:hover,
 .navbar div .btn-togler:hover span
{
    color:red !important
}
.taps li:hover .dropdown .dropbtn::after,
.dropdown .dropbtn:hover .dropbtn::after{
    border-right-color: red;
  border-bottom-color: red;
}
.fs-13{
    font-size: 14px;
}
.lightcolor
{
    color:#b2b2b2;
}
.prodct div a:hover{
    text-decoration: underline !important;
}

/**/
.imgbtn{
    width:110px;
    height: 90px;
}
#carouselExampleIndicators{
    width:700px;
    height:950px
}
.instok{
    color:green;
    background: rgb(131, 239, 131);
}